.comments{
    border: 1px solid red;
    font-family: 'Source Serif Pro', serif;

}

.comments > h1 {
    color: rgba(0, 0, 0, 0.68);
    
}

.comment-content{
    padding:10px 20px 15px 20px;
    margin-top: 20px
}