.comments {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-top: 50px;
  //   border-top: 1px solid rgba(0, 0, 0, 0.84);
  width: 640px;
}

.comments h1 {
  color: rgba(0, 0, 0, 0.68);
  font-weight: bold;
  padding-left: 20px;
  font-size: 25px;
}

.comment-container {
  color: rgba(0, 0, 0, 0.84);
  padding: 10px 20px 15px 20px;
  margin-top: 20px;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 5px;
}

.all-comments {
  padding: 0px 15px 0px 15px;
  border: 1px solid;
}

.comment-top {
  padding-top: 5px;
  margin-bottom: 15px;
  height: 43px;
  display: flex;
  align-items: center;
}
.comment-author {
  width: 36px;
  height: 36px;
  color: white;
  background-color: rgba(3, 168, 124, 1);
  border-radius: 200px 200px 200px 200px;
  line-height: 36px;
  text-align: center;
  margin-right: 10px;
}

.comment-info {
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  flex-direction: column;
  justify-content: space-between;
}

.comment-info > div:first-child {
  color: #018f69;
  font-size: 15px;
}

.comment-info > div:nth-child(2) {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.68);
}
.child-comments {
  font-size: 15px;
  line-height: 22px;
}

.comment-body {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.comment-btm {
  display: flex;
  flex-direction: column;
}

.new-comment {
  border: 1px solid rgba(0, 0, 0, 0.09);
  margin-top: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.new-comment-body {
  resize: none;
  width: 100%;
  font-size: 18px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.84);
  font-family: "Source Serif Pro", serif;
}

.new-comment-body *::placeholder {
  color: rgba(0, 0, 0, 0.33);
}

.submit-comment-btn {
  padding: 0px 16px 0px 16px;
  margin-left: 14px;
  color: rgb(3, 168, 125);
  border: 1px solid rgb(3, 168, 125);
  border-radius: 5px;
  font-size: 16px;
  line-height: 37px;
  text-align: center;
}

.new-child-comment {
  padding: 0px 16px 0px 16px;
  color: rgb(3, 168, 125);
  border: 1px solid rgb(3, 168, 125);
  border-radius: 5px;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  float: right;
}
