.currentuser {
  background-color: rgba(3, 168, 124, 1);
  border-radius: 200px 200px 200px 200px;
  height: 35px;
  width: 35px;
  text-align: center;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.user-info3 {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 25px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.312);
}

.user-info3 > .currentuser {
  height: 50px;
  width: 50px;
  line-height: 50px;
  font-size: 30px;
}

.user-info4 {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: 100px;
}

.user-info4 > li {
  padding-top: 5px;
}

.current-username {
  color: black;
  font-weight: bold;
}

.dropdown-action {
  width: 80%;
  padding: 10px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.312);
}

.dropdown-action > li {
  padding: 7px 0px 7px 0px;
}

.dropdown-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  border: 1px solid rgba(0, 0, 0, 0.312);
  right: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  width: 215px;
}

.show {
  display: block;
}

#logout-btn {
  padding: 10px 0px 10px 0px;
}
