.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  //   justify-content: center;
  align-items: center;
  //   position: absolute;
  //   left: 50%;
  //   top: 100%;
  //   transform: translate(-50%, -0%);
  font-family: "Source Serif Pro", serif;
  color: #808080;
    // position: absolute;
    // bottom: 0;
}

.footer > h1 {
  font-family: "DM Serif Display", serif;
  width: 100%;
  // height: 40px;
  font-size: 35px;
  color: rgb(2, 106, 78);
  text-align: center;
  display: flex;
  justify-content: center;

  //   padding: auto;
  //   width: 50%;
  padding: 40px 0px 25px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  margin-top: 40px;
}

.footer > h1 img {
  height: 40px;
  width: auto;
}

.footer h2 {
  font-size: 25px;
  font-weight: bold;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer-2 {
  width: 80%;
  display: flex;
  justify-content: space-around;
  min-height: 130px;
  margin-bottom: 50px;
}

.footer-2-1{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-icons {
  display: flex;
  justify-content: space-around;
  // flex-direction: column;
  flex-wrap: wrap;
  max-width: 120px;
}

.footer-icons img {
  height: 50px;
  width: auto;
}

.footer-medium a {
  display: flex;
  justify-content: space-between;
}

.footer-medium img {
  height: 23px;
  width: auto;
}


.footer-info, .footer-medium{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.footer-links{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-links > a:hover {
text-decoration: underline;
}