.journal-content {
  width: 60%;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // // max-width: 680px;
}
.journal-detail {
  // max-width: 680px;
  font-family: "Varela Round", sans-serif;
  display: flex;
  flex-direction: column;
}

.journal-title {
  font-size: 36px;
  font-weight: bold;
  padding-top: 40px;
}

.journal-subtitle {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.312);
  font-weight: lighter;
  padding-top: 20px;
}

.journal-authinfo {
  border: 1px solid red;
  display: flex;
  height: 50px;
  margin: 20px 0px 20px 0px;
}

.journal-authinfo > div:first-child {
  //this is profile pic
  border-radius: 200px 200px 200px 200px;
  height: 50px;
  width: 50px;
  background-color: blue;
}

.journal-authinfo > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.journal-authinfo-1 {
  display: flex;
  font-size: 15px;
}

.journal-authinfo-2 {
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  display: flex;
  justify-content: space-around;
}

.journal-detail Img {
  height: 450px;
}

.journal-body {
  margin-top: 45px;
}

.journal-body > p {
  //this is first letter
  border-radius: 200px 200px 200px 200px;
  height: 80px;
  width: 80px;
  line-height: 80px;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 50px;
  float: left;
  margin: 10px;
  color: white;
}

.journal-body > div {
  font-size: 20px;
  line-height: 35px;
  color: rgba(0, 0, 0, 0.75);
}

.journal-flw-btn {
  border: 1px solid rgba(140, 93, 255, 1);
  border-radius: 5px;
  color: rgba(140, 93, 255, 1);
  padding: 0px 8px 0px 8px;
  margin-left: 10px;
}
