.journal-detail {
  width: 680px;
  border: 1px solid red;
  font-family: "Varela Round", sans-serif;
  
}


.journal-title{
    font-size: 36px;
}

.journal-subtitle{
     font-size: 20px;
     color: rgba(0, 0, 0, 0.312);
}

.journal-authinfo {
    border: 1px solid red;
}

.journal-body > p {
    border: 1px solid red;
    border-radius: 200px 200px 200px 200px;
  height: 80px;
  width: 80px;
  line-height: 80px;
  text-align: center;
  color: white;
  background-color: blue;
  font-size: 50px;

}