.journals {
  // font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-family: "Nunito Sans", sans-serif;
  width: 90%;
}

.journal-top {
  min-height: 185px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 40px;
  // padding-left: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.journal-top > h1 {
  font-size: 70px;
  font-weight: bold;
}

.journal-top > p {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.journal-img {
  width: 60%;
  height: auto;
}

//--------------------------------------

.category-journals > li:first-child .journal-info {
  background-color: #6A0BFF;
  color: white;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category-journals > li:nth-child(-n + 2) {
  height: 355px;
  padding-top: 50px;
  display: flex;
  
}

.category-journals > li:nth-child(-n + 2) .journal-info > li {
  padding: 10px;
}

.category-journals > li:nth-child(-n + 2) .journal-info li:nth-child(2) {//subtitle
  text-align: center;
}

.category-journals > li:nth-child(-n + 2) .journal-info .journal-btm {
  display: flex;
  width: 38%;
  justify-content: space-between;
  font-size: 13px;
}

.category-journals > li:nth-child(2) {
  flex-direction: row-reverse;
}

.category-journals > li:nth-child(2) .journal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.category-journals > li:nth-child(n + 2) .journal-info li:nth-child(3) {
  color: #6A0BFF;
}

.category-journals > li:nth-child(n + 3) {
  height: 180px;
  margin-top: 25px;
  padding-top: 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row-reverse;
}

.category-journals > li:nth-child(n + 3) .journal-img {
  width: 40%;
  height: auto;
}

.category-journals > li:nth-child(n + 3) .journal-info {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.category-journals > li:nth-child(n + 3) .journal-info {
  //   border: 2px solid red;
}

.category-journals > li:nth-child(n + 3) .journal-info > li {
  padding-bottom: 10px;
}

.category-follow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.category-follow > p {
  font-family: "Nunito Sans", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 20px;
}

.flw-category-btn {
  border: 1px solid (rgba(140, 93, 255, 1));
  border-radius: 5px;
  color: rgba(140, 93, 255, 1);
  padding: 8px 16px 8px 16px;
}

.journal-info > li:nth-child(1) {
  //this is title{
  font-weight: bold;
  font-size: 25px;
}

.journal-info > li:nth-child(2) {
  //this is subtitle
  font-size: 15px;
  width: 80%;
}

.category-journals > li:nth-child(n + 3) .journal-info .journal-btm {
  display: flex;
  width: 25%;
  justify-content: space-between;
}

//todo add a star icon
.category-journals > li:nth-child(n + 3) .journal-info .journal-btm li {
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
}


.journals .fas{
  font-size: 5px;
}


.j-index-title-1{
  width: 80%;
}