.journal-form {
  width: 700px;
  display: flex;
  flex-direction: column;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.journal-form *::placeholder {
  color: rgba(0, 0, 0, 0.33);
}

.j-form-title {
  font-size: 42px;
  padding-top: 16px;
}

.j-form-body {
  font-size: 21px;
  padding-top: 10px;
  resize: none;
}

.j-btns {
  position: relative;
  right: -735px;
  top: -100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.publish-btn {
  background-color: rgba(3, 168, 124, 1);
  color: white;
  font-size: 14px;
  height: 25px;
  padding: 0px 10px 0px 10px;
  border: 1px solid rgba(3, 168, 124, 1);
  border-radius: 3px;
  margin-left: 20px;
}

.j-scdButton {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.35);
}
